@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  font-family: 'Bungee',cursive;
  text-align: center;
}

html {
  padding: 4em;
  display: flex;
  background-color: #2F195F;
}

body {
  margin: 0 auto;
}

.wrapper {
  background-color: #F0F3BD;
  padding: 4em;
  height: 100%;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 60px 0px 0px #C5C79B;
}

h1 {
  margin-top: 0;
  color: #161712;
}

p {
  color: #161712;
}

.start div {
  margin-bottom: 2em;
  height: 60px;
}

.header {
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DBDDAC;
  border-radius: 10px;
  height: 150px;
  box-shadow: 0px -4px 0px 0px #C5C79B;
}

.status {
  margin-top: 1em;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #DBDDAC;
  border-radius: 10px;
  box-shadow: 0px -4px 0px 0px #C5C79B;
}

input {
  margin: 10px 1em 10px 1em;
  height: 60px;
  width: 120px;
  line-height: 50px;
  font-size: 1.5em;
  border-radius: 10px;
  transition: all 0.2s ;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 6px 0px 0px #fff;
}

input:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.attack {
  color: #F7B974;
  text-shadow: 0px 0px 12px #F79D65;
  border: 1px solid #F4845F;
  background-color: #F4845F;
  box-shadow: 0px 6px 0px 0px #F27059;
}


.attack:hover {
  box-shadow: 0px 0px 0px 0px #F27059;
}

.attack:active {
  background-color: #F27059;
}

.heal {
  color: #02C39A;
  text-shadow: 0px 0px 12px #00A896;
  border: 1px solid #028090;
  background-color: #028090;
  box-shadow: 0px 6px 0px 0px #05668D;
}

.heal:hover {
  box-shadow: 0px 0px 0px 0px #05668D;
}

.heal:active {
  background-color: #05668D;
}

.start {
  color: #FF8E82;
  text-shadow: 0px 0px 12px #F64B38;
  border: 1px solid #F63925;
  background-color: #F63925;
  box-shadow: 0px 6px 0px 0px #E03422;
}

.start:hover {
  box-shadow: 0px 0px 0px 0px #E03422;
}

.start:active {
  background-color: #E03422;
}

.quit {
  color: #AB97ED;
  text-shadow: 0px 0px 12px #7E6CBA;
  border: 1px solid #705CB2;
  background-color: #705CB2;
  box-shadow: 0px 6px 0px 0px #5A469C;
}

.quit:hover {
  box-shadow: 0px 0px 0px 0px #5A469C;
}

.quit:active {
  border: 4px solid #442E8B;
  background-color: #5A469C;
}
